force-app/main/default/flows/Loan_Request_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>High_Loan_Request_Alert</name>
        <label>High Loan Request Alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>LoanRequest__c.High_Loan_Request_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Audit_Record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <decisions>
        <name>Check_Loan_Status</name>
        <label>Check Loan Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Loan_Status_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Customer_Active</targetReference>
            </connector>
            <label>Check Loan Status is Approved</label>
        </rules>
        <rules>
            <name>Check_Loan_Status_is_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Records_2</targetReference>
            </connector>
            <label>Check Loan Status is Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Flow checks whether the loan amount is higher than the threshold to send an alert to the manager and record an Audit.</description>
        <name>High_Loan_Amount</name>
        <label>High Loan Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoanAmount_c_Greater_Than_250000</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LoanAmount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>High_Loan_Request_Alert</targetReference>
            </connector>
            <label>LoanAmount__c Greater Than 250000</label>
        </rules>
    </decisions>
    <description>Automatically manages loan requests by updating the related customer status, sending alerts for high-value loans, and logging actions in Audit__c when the loan status changes.</description>
    <formulas>
        <name>ActionDate</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>chekAction</name>
        <dataType>String</dataType>
        <expression>IF(
{!$Record.LoanAmount__c} &gt; 250000,
    &quot;High_Amount_Alert&quot;,

    CASE(
    {!$Record.LoanStatus__c},
        &quot;Approved&quot;, &quot;Loan_Approved&quot;,
        &quot;Rejected&quot;, &quot;Loan_Rejected&quot;,
        &quot;Status_Updated&quot;  /* default value */
    )
)</expression>
    </formulas>
    <interviewLabel>Loan Request Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loan Request Management Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Audit_Record</name>
        <label>Create Audit Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ActionDate__c</field>
            <value>
                <elementReference>ActionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Action__c</field>
            <value>
                <elementReference>chekAction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Amount__c</field>
            <value>
                <elementReference>$Record.LoanAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Request__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loan_Status__c</field>
            <value>
                <elementReference>$Record.LoanStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Audit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Set_Customer_Active</name>
        <label>Set Customer Active</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>High_Loan_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Records_2</name>
        <label>Set Customer Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>High_Loan_Amount</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Requires Additional Care</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Customer__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Loan_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LoanStatus__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>LoanRequest__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>email_body</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear Manager,

A loan request has been submitted exceeding 250,000 ₪.

Customer: {!$Record.Customer__r.Name}
Loan Amount: {!$Record.LoanAmount__c}

Please review the request.

Regards,
Salesforce System</text>
    </textTemplates>
    <textTemplates>
        <name>email_subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;High Loan Request Alert – {!$Record.Customer__r.Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>auditRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Audit__c</objectType>
    </variables>
</Flow>
